@using playgnd.Models.Admin.Test;
<link href="/css/admin/test/add.css" rel="stylesheet" />

@model List<CourseModel>
@{
    ViewData["Title"] = "TestSubjList";
}
<h2><p align="center">Выбор курса</p></h2>

<table align="center" border="1" cellpadding="4" cellspacing="0">
    @foreach (CourseModel m in Model)
    {
        <tr>
            <td>
                <div align="left">
                    id: @m.Id
                </div>
            </td>
            <td>
                <div align="left">
                    Курс "@m.Name"
                </div>
            </td>
            <td>
                <div align="left">
                    @{
                        string msg = "В курсе " + @m.Count + " тест";
                        if (@m.Count % 10 >= 2 && @m.Count % 10 <= 4) { msg += "a"; }
                        else if (@m.Count % 10 >= 5 && @m.Count % 10 <= 9 || @m.Count % 10 == 0) { msg += "ов"; }

                    }
                    @msg
                </div>
            </td>
            <td>
                <div align="center">
                    <input class="button" type="button" name ="@m.Name" value="Выбрать" onclick="getSubj(this)" />
                </div>
            </td>
        </tr>
    }
</table>
<script>
    function getSubj(button) {
        name = button.name;
        window.location.href = "@Url.Action("ReturnSubjects","Admin")"+"?subj="+name;
    }
</script>
