@using playgnd.Models.Admin.Test;
@model List<CourseModel>
    @{
        ViewData["Title"] = "TestSubjList";
    }
    <p align="center"><h2>Выбор курса</h2></p>
    <table align="center" border="1" cellpadding="2">
        @foreach (CourseModel m in Model)
        {
            <tr>
                <td>
                    <div align="center">
                        <input class="button" type="button" value="@m.Name" onclick="getSubj(this)" />
                    </div>
                </td>
                <td>
                    <div align="left">
                        @{
                            if (@m.Count % 10 == 1) { Console.WriteLine("В курсі @m.Count тест"); }
                            else if (@m.Count % 10 >= 2 && @m.Count % 10 <= 4) { Console.WriteLine("В курсі @m.Count тестa"); }
                            else { Console.WriteLine("В курсі @m.Count тестів"); }
                        }
                    </div>
                </td>
            </tr>
            }
    </table>
    <script>
    function getSubj(button) {
        name = button.value;
        window.location.href = "@Url.Action("ReturnSubjects","Admin")"+"?subj="+name;
    }
    </script>
